In [ ]:
#Data Types and Structures Practical Answers

In [3]:
#Q1. Write a code to create a string with your name and print it.
my_name ="Ankit Maurya"
print("My name is",my_name)

My name is Ankit Maurya

In [9]:
#Q2.Write a code to find the length of the string "Hello World"
a = "Hello World"
print(a)
length = len(a)
print("the length of string is",length)

Hello World
the length of string is 11

In [11]:
#Q3. Write a code to slice the first 3 characters from the string "Python Programming"
a = "Python Programming"
print("The first three characters is",a[0:3])

The first three characters is Pyt

In [12]:
#Q4.Write a code to convert the string "hello" to uppercase
a = "hello"
print("The string in uppercase is",a.upper())

The string in uppercase is HELLO

In [13]:
#Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple"
text = "I like apple"
new_text = text.replace("apple", "orange")
print(new_text)

I like orange

In [14]:
#Q6.Write a code to create a list with numbers 1 to 5 and print it
list = [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

In [15]:
#Q7.Write a code to append the number 10 to the list [1, 2, 3, 4]
list = [1,2,3,4]
list.append(10)
print(list)

[1, 2, 3, 4, 10]

In [16]:
#Q8.Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]
list = [1,2,3,4,5]
list.remove(3)
print(list)

[1, 2, 4, 5]

In [25]:
#Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd']
list =['a','b','c','d']
second_element = list[1]
print("Second element:",second_element)

Second element: b

In [27]:
#Q10.Write a code to reverse the list [10, 20, 30, 40, 50]
list = [10,20,30,40,50]
list.reverse()
print("The list is reversed",list)

The list is reversed [50, 40, 30, 20, 10]

In [28]:
#Q11. Write a code to create a tuple with the elements 100, 200, 300 and print it
tuple = (100,200,300)
print(tuple)

(100, 200, 300)

In [29]:
#Q12.Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').
tuple = ('red', 'green', 'blue', 'yellow')
second_to_last_element = tuple[-2]
print("Second-to-last element:",second_to_last_element)

Second-to-last element: blue

In [32]:
#Q13.Write a code to find the minimum number in the tuple (10, 20, 5, 15).
tuple = (10, 20, 5, 15)
min_num = min(tuple)
print("The minimum number in the tuple is",min_num)

The minimum number in the tuple is 5

In [33]:
#Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit')
tuple = ('dog', 'cat', 'rabbit')
index = tuple.index('cat')
print(index)

1

In [36]:
#Q15.Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.
fruits = ('mango','apple','kiwi')
if 'kiwi' in fruits:
  print('kiwi is in tuple')
else:
  print('kiwi is not in tuple')

kiwi is in tuple

In [37]:
#Q16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.
my_set = {'a', 'b', 'c'}
print("The set is:", my_set)

The set is: {'b', 'c', 'a'}

In [38]:
#Q17.Write a code to clear all elements from the set {1, 2, 3, 4, 5}.
my_set = {1, 2, 3, 4, 5}
my_set.clear()
print("Set after clearing:", my_set)

Set after clearing: set()

In [39]:
#Q18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.
my_set = {1, 2, 3, 4}
my_set.remove(4)
print("Set after removing 4:", my_set)

Set after removing 4: {1, 2, 3}

In [40]:
#Q19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.
set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print("Union of sets:", union_set)

Union of sets: {1, 2, 3, 4, 5}

In [41]:
#Q20.Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.
set1 = {1, 2, 3}
set2 = {2, 3, 4}
intersection_set = set1.intersection(set2)
print("Intersection of sets:", intersection_set)

Intersection of sets: {2, 3}

In [42]:
#Q21.Write a code to create a dictionary with the keys "name", "age", and "city", and print it.
person = {
    "name": "Ankit",
    "age": 25,
    "city": "Mumbai"
}
print("Dictionary:", person)

Dictionary: {'name': 'Ankit', 'age': 25, 'city': 'Mumbai'}

In [43]:
#Q22.Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.
person = {'name': 'John', 'age': 25}
person['country'] = 'USA'
print("Updated dictionary:", person)

Updated dictionary: {'name': 'John', 'age': 25, 'country': 'USA'}

In [44]:
#Q23.Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.
person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print("Name:", name_value)

Name: Alice

In [45]:
#Q24.Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.
person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
person.pop('age')
print("Updated dictionary:", person)

Updated dictionary: {'name': 'Bob', 'city': 'New York'}

In [46]:
#Q25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}
person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("Key 'city' exists in the dictionary.")
else:
    print("Key 'city' does not exist in the dictionary.")

Key 'city' exists in the dictionary.

In [47]:
#Q26.Write a code to create a list, a tuple, and a dictionary, and print them all.
my_list = [1, 2, 3, 4, 5]
my_tuple = ('apple', 'banana', 'cherry')
my_dict = {'name': 'Ankit', 'age': 25, 'city': 'Mumbai'}
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4, 5]
Tuple: ('apple', 'banana', 'cherry')
Dictionary: {'name': 'Ankit', 'age': 25, 'city': 'Mumbai'}

In [52]:
#Q27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)
random_numbers = [random.randint(1, 100) for _ in range(5)]
print("Original list:", random_numbers)
random_numbers.sort()
print("Sorted (replaced) list:", random_numbers)

Original list: [41, 68, 69, 69, 29]
Sorted (replaced) list: [29, 41, 68, 69, 69]

In [53]:
#Q28.Write a code to create a list with strings and print the element at the third index.
my_list = ["apple", "banana", "cherry", "date", "elderberry"]
print("Element at third index:", my_list[3])

Element at third index: date

In [54]:
#Q29.  Write a code to combine two dictionaries into one and print the result.
dict1 = {'name': 'Alice', 'age': 30}
dict2 = {'city': 'Paris', 'country': 'France'}
combined_dict = {**dict1, **dict2}
print("Combined dictionary:", combined_dict)

Combined dictionary: {'name': 'Alice', 'age': 30, 'city': 'Paris', 'country': 'France'}

In [55]:
#30.Write a code to convert a list of strings into a set.
string_list = ["apple", "banana", "apple", "cherry", "banana"]
string_set = set(string_list)
print("Set from list:", string_set)

Set from list: {'apple', 'banana', 'cherry'}